<div *ngIf="betFailed" class=" alert alert-danger">The race is already started or finished</div>
<div *ngIf="raceModel">
  <h2>{{ raceModel.name }}</h2>
  <p>{{ raceModel.startInstant | fromNow }}</p>
  <div class="row">
    <div *ngFor="let pony of raceModel.ponies" class="col-12 col-md-2" [ngClass]="{'selected': isPonySelected(pony)}">
      <pr-pony (ponyClicked)="betOnPony(pony)" [ponyModel]="pony"></pr-pony>
    </div>
  </div>
  <a class="btn btn-primary" [routerLink]="['/races', raceModel.id, 'live']">Watch live!</a>
</div>
