<form (ngSubmit)="register()" [formGroup]="userForm">
  <div class="form-group">
    <label for="login" id="login-label">Login</label>
    <input id="login" class="form-control" type="text" formControlName="login">
    <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Login is required</div>
  </div>
  <div class="form-group">
    <label for="password" id="password-label">Password</label>
    <input id="password" class="form-control" type="password" formControlName="password">
    <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
  </div>
  <div class="form-group">
      <label for="birthYear" id="birthYear-label">Birth year</label>
      <input id="birthYear" class="form-control" type="number" formControlName="birthYear">
      <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')">Birth year is required</div>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Let’s go!</button>
</form>